.sidebar-nav {
  .fa,
  .fab,
  .fas,
  .far {
    margin-right: 0.5rem;
  }
}

.app-body .main {
  background-color: #f0f3f5;
}

.tn-title {
  clear: both;
  padding: 0.75rem 1.25rem;
  margin-bottom: 15px;
  font-weight: bold;
  border-bottom: 1px solid #c8ced3;
}

.is-invalid{  
  border: 1px splid #f86c6b;
}